body{
    background-color: hsl(212, 21%, 54%);
}

.imageContainter{
    margin: 15px;
}

.imageContainter img{
    position: relative;
    left: -20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 20rem;
    border: 10px solid hsl(212, 17%, 40%);
    border-radius: 50%;
}

.imageContainter img:hover{
    border: 10px solid hsl(212, 17%, 32%);
    background-color: hsl(212, 27%, 48%);
}

.btnContainer .picBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}